* {
    margin: 0;
    padding: 0;
}

img {
    width: 100%;
}

.oculto {
    display: none;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background: grey;

}

.logo img {
    height: 50px;
    width: auto;
}

.logo {
    color: white;
    text-decoration: none;
    font-size: 25px;
}

.formContainer {
    display: flex;
    gap: 10px;
}

.inputContainer {
    padding: 10px;
    width: 70%;
}

.btnnBuscador {
    padding: 10px;
}

.imgContainer {
    width: 100%;
}

.paginacion {
    font-size: 2rem;
}

.flexContainer {
    display: flex;
    flex-wrap: wrap;
    gap: .5rem;
    justify-content: left;
    padding: 1rem;
    flex-direction: column;
}

.flexContainer>* {
    padding: .5rem;
    box-sizing: border-box;
}

@media screen and (min-width: 400px) {
    .flexContainer>* {
        width: 45%;
        ;
    }
}

@media screen and (min-width: 800px) {
    .flexContainer {
        flex-direction: row;
    }

    .flexContainer>* {
        width: 30%;
        ;
    }
}

@media screen and (min-width: 1200px) {
    .flexContainer>* {
        width: 20%;
        ;
    }
}