* {
    margin: 0;
    padding: 0;
}

img {
    width: 100%;
}

.imgContainer {
    width: 100%;
}

.paginacion {
    font-size: 2rem;
}

.flexContainer {
    display: flex;
    flex-wrap: wrap;
    gap: .5rem;
    justify-content: left;
    padding: 1rem;
    flex-direction: column;
}

.flexContainer>* {
    padding: .5rem;
    box-sizing: border-box;
}

@media screen and (min-width: 400px) {
    .flexContainer>* {
        width: 45%;
        ;
    }
}

@media screen and (min-width: 800px) {
    .flexContainer {
        flex-direction: row;
    }

    .flexContainer>* {
        width: 30%;
        ;
    }
}

@media screen and (min-width: 1200px) {
    .flexContainer>* {
        width: 20%;
        ;
    }
}