* {
    margin: 0;
    padding: 0;
}

.imgContainer {
    width: 100%;
}

.flexContainer {
    display: flex;
    flex-wrap: wrap;
    gap: .5rem;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    flex-direction: column;
}

.flexContainer>* {
    padding: .5rem;
    width: 100%;
    box-sizing: border-box;
}

@media screen and (min-width: 400px) {}

@media screen and (min-width: 800px) {
    .flexContainer {
        flex-direction: row;
    }
}

@media screen and (min-width: 1200px) {}